.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-banner__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 1.25rem;
}

.carousel {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
