.genres--home {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-shrink: 1;
  width: min-content;
  gap: 5px;
}

.genres--details {
  z-index: 2;
  display: flex;
  gap: 5px;
  margin-bottom: 1.5rem;
}

  .genres__item {
    background-color: var(--pink);
    padding: 3px 5px;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    color: white;
    white-space: nowrap;
  }

