@import '../../mixins.scss';

.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  padding: 0 1rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition;
  z-index: 2;

  .logo {
    height: 50px;
  }
  .menu {
    list-style-type: none;
    display: none;
    align-items: center;
    justify-content: flex-end;

    @include md {
      display: flex;
    }

    &__item {
      height: 60px;
      display: flex;
      align-items: center;
      margin: 0 15px;
      position: relative;
      svg {
        font-size: 18px;
        margin-right: 0.5rem;
      }

      a {
        color: white;
        font-weight: 500;
        text-decoration: none;
        @include transition;

        &:hover {
          color: var(--pink);
        }
      }
    }
  }

  .close {
    @include md {
      display: none;
    }
    svg {
      font-size: 18px;
      color: white;
    }
  }
}

.mobile-view {
  background: var(--black3);
  
  .menu {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    background: var(--black3);
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    animation: mobileMenu 0.3s ease forwards;

    &__item {
      font-size: 20px;
      width: 100%;
      padding: 15px 20px;
      margin: 0;
      display: flex;
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}

.active {
  color: var(--orange) !important;
  text-decoration: underline !important;
  text-underline-offset: 0.7rem;
}

.top {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.hide {
  transform: translateY(-60px);
}
