@import '../../../mixins.scss';

.content-details {
  padding: 0 1rem;
  color: white;
  &__title {
    font-size: 28px;
    line-height: 40px;
    @include md {
      font-size: 34px;
      line-height: 44px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.5;
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
  }
}

.playbtn {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  svg {
    width: 60px;
    @include md {
      width: 80px;
    }
  }
  &__text {
    font-size: 20px;
    transition: all 0.7s ease-in-out;
  }
  polygon {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: white;
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
  }
  circle {
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    .playbtn__text {
      color: var(--pink);
    }
    polygon {
      stroke-dashoffset: 0;
      opacity: 1;
      stroke: var(--pink);
      animation: trailorPlay 0.7s ease-in-out;
    }
    circle {
      stroke-dashoffset: 0;
      stroke: var(--pink);
    }
  }
}
