    @import '../../../mixins.scss';

    .poster {
      flex-shrink: 0;
      &__img {
        width: 100%;
        display: block;
        border-radius: 12px;
        @include md {
          max-width: 350px;
        }
      }
    }
